---
import contributors from "../../data/contributors.json";
import ContributorProfile from "../../scripts/components/ContributorProfile";
export function getStaticPaths() {
    return contributors.map((contributor) => ({
        params: { contributor: contributor.contributor },
        props: { contributor },
    }));
}
const { contributor } = Astro.params;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{contributor} - GitHub Contributions</title>
    </head>
    <body class="bg-gray-50 dark:bg-gray-900">
        <div id="root">
            <ContributorProfile
                client:only="react"
                data={contributors.find((c) => c.contributor === contributor)}
            />
        </div>
    </body>
</html>
